:root {
  --primary-color: #2196f3;
  --secondary-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  cursor: pointer;
}
.blue {
  color: var(--primary-color);
}
h4 {
  color: var(--secondary-color);
}

.logo {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-left: 215px;
}
.logo-black-color {
  color: black;
}
.logo-position {
  padding-top: 24px;
  margin-right: 1240px;
  padding-bottom: 25px;
  
  padding-top: 24px;
}
a {
  text-decoration: none;
}
a:visited {
  color: none;
}
a:hover {
  color: var(--primary-color);
}
.agencja {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.e-mail {
  width: 135px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.ph-number {
  width: 110px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
}

ul {
  display: flex;
}
li {
  list-style-type: none;
}

.address-email {
  width: 135px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
nav {
  display: flex;
  justify-content: space-between;
}

.dark-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: #2f303a;
}

h1 {
  width: 696px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.lorem-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: (calc(100%-30px) / 4);
}

.lorem-text li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.our-team-list-bg {
  background: #f5f4fa;
}
.our-team-list {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: calc((100%-90px) / 4);

}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.card-bg li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-inline: 30px;
}

.footer-bg {
  left: 0px;
  background: #2f303a;
}

.footer-address {
  width: 246px;
  display: contents;
  color: white;
  font-family: "Roboto", serif;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
}

.footer-logo-position {
  padding-top: 60px;
  padding-bottom: 20px;
}

.studio-white {
  color: white;
}

.footer-contacts-color {
  color: #757575;
}
.button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.3;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
}

address {
  font-style: normal;
}
.button-list li {
  width: 121px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.26;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

button:hover {
  color: white;
  background: var(--primary-color);
}

.portfolio-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50 px;
  margin-bottom: 94px;
  padding: 0 25 px;
  gap: 30px;
}
.portfolio-photos li {
  border-bottom: 1px solid #eeeeee;
  flex-basis: calc ((100% - 60px) / 3);
}
.container {
  max-width: 1200 px;
  margin: 0 auto;
}

.section {
  padding: 94px;
}
