:root {
  --primary-color: #2196f3;
  --secondary-color: #212121;
  --social-footer-color: rgba(255, 255, 255, 0.1);
  --clients-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
.blue {
  color: var(--primary-color);
}
h4 {
  color: var(--secondary-color);
}

.logo {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
}
.logo-black-color {
  color: black;
}
.logo-position {
  padding-top: 24px;
  padding-bottom: 25px;
}
a {
  text-decoration: none;
}
a:visited {
  color: none;
}

a:hover {
  color: var(--primary-color);
}
.agencja {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.e-mail {
  width: 135px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.ph-number {
  width: 110px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
}
/* .ph-number:before{
  content: url(../images/icons/icon-envelope);
} */
.color:hover {
  stroke: var(--primary-color);
}

ul {
  display: flex;
}
li {
  list-style-type: none;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin-right: 364px;
  /* --------- czy ten margin jest tu ok? ------------- */
}

.email-adress-position {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.email-adress-position a:hover,
.email-adress-position li:hover {
  stroke: var(--primary-color);
}
.email-adress-position svg:first-child {
  margin-right: 5px;
}
.email-adress-position li {
  display: flex;
  align-items: center;
}
main .dark-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-size: cover;
  max-width: 1600px;
}

h1 {
  width: 696px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.lorem-text li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.our-team-list-bg {
  background: #f5f4fa;
}
.our-team-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.card-bg li {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.footer-bg {
  left: 0px;
  background: #2f303a;
}

.footer-address {
  display: contents;
  color: white;
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
}

.footer-logo-position {
  padding-bottom: 20px;
}

.studio-white {
  color: white;
}

.footer-contacts-color {
  color: #757575;
}
.button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.3;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
  border: 0;
}

address {
  font-style: normal;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
}

.button-list-every-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

button:hover {
  color: white;
  background: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
button:focus {
  color: white;
  background: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-photos li {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.portfolio-photos li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-photos a:hover {
  color: inherit;
}
.portfolio-photos a:visited {
  color: inherit;
}
.portfolio-card-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15;
}
.container-bg-photo {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15;
}

.section {
  padding: 94px 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.icon-element {
  display: flex;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  gap: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.social-media-box {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon:hover {
  --color3: var(--primary-color);
  --color1: white;
}
.our-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}
.our-clients-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon-clients:hover {
  fill: var(--primary-color);
}

.footer-social-media-box {
  padding-bottom: 172px;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 206px;
  height: 80px;
}

.footer-social-media-icon:hover {
  background-color: #2196f3;
  border-radius: 50px;
}
.dolacz {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}
.footer-content {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.border-clients-icons {
  width: 170px;
  height: 90px;
  display: flex;
  border: 1px solid #afb1b8;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.border-clients-icons:hover {
  --color3: var(--primary-color);
  border-color: var(--primary-color);
}
