:root {
  --primary-color: #2196f3;
  --secondary-color: #212121;
  --social-footer-color: rgba(255, 255, 255, 0.1);
  --clients-color: #afb1b8;
  --white-color: #fff;
  --contacts-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.section {
  padding: 94px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15;
}
h4 {
  color: var(--secondary-color);
}

/* ====== HEADER ======== */
.blue {
  color: var(--primary-color);
}

.logo {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
}
.logo-black-color {
  color: black;
}
.logo-position {
  padding-top: 24px;
  padding-bottom: 25px;
}
a {
  text-decoration: none;
  transition-property: color;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
a:visited {
  color: none;
}

a:hover {
  color: var(--primary-color);
}
.underline {
  position: relative;
}

.underline::after {
  position: absolute;
  content: "";
  width: 53px;
  height: 4px;
  background-color: var(--primary-color);
  margin-top: 37px;
  left: 0;
  width: 100%;
}
.agencja {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.e-mail {
  width: 135px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.ph-number {
  width: 110px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.16;
  letter-spacing: 0.02em;
}

ul {
  display: flex;
}
li {
  list-style-type: none;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin-right: 364px;
}

.email-adress-position {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.email-adress-position li:hover {
  fill: var(--primary-color);
  cursor: pointer;
}
.email-adress-position li:hover a {
  color: var(--primary-color);
}
.header-svg {
  fill: var(--contacts-color);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header-svg:hover {
  --contacts-color: var(--primary-color);
}
.header-svg:hover .email-adress-position {
  --contacts-color: var(--primary-color);
}
.email-adress-position li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* =============== END HEADER =================== */

/* ============== MAIN BANNER ======================= */
.button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.3;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
  border: 0;
}

main .dark-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-size: cover;
  max-width: 1600px;
}
.container-bg-photo {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15;
}

/* ============== END MAIN BANNER ======================= */

h1 {
  width: 696px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.lorem-text li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.what-we-do-list li {
  position: relative;
}

.description-box-what-we-do-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  font-size: 14px;
  line-height: 1.6;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  bottom: 0;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.our-team-list-bg {
  background: #f5f4fa;
}
.our-team-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.card-bg li {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ===================== FOOTER =================== */

.footer-bg {
  left: 0px;
  background: #2f303a;
}

.footer-address {
  display: contents;
  color: white;
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
}

.footer-logo-position {
  padding-bottom: 20px;
}

.studio-white {
  color: white;
}

.footer-contacts-color {
  color: #757575;
}

address {
  font-style: normal;
}

.footer-social-media-box {
  padding-bottom: 172px;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 206px;
  height: 80px;
}
.footer-social-media-icon {
  background-color: #2f303a(--social-footer-color);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer-social-media-icon:hover {
  background-color: #2196f3;
  border-radius: 50px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}
.footer-content .newsletter,
.footer-social-media-box {
  margin-top: -30px;
}

.newsletter {
  display: inline-block;
}

h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.newsletter-input {
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
}
.button-newsletter {
  color: var(--white-color);
  background-color: var(--primary-color);
  margin: 0;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0;
  padding-left: 42px;
  padding-right: 28px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15);
  border: 0;
}
.newsletter-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-icon {
  fill: white;
  margin-left: 24px;
}

/* ===================== END FOOTER =================== */

/* ======================================== STRONA PORTFOLIO ==================================================== */
.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
}

.button-list-every-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}
button {
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
button:hover {
  color: white;
  background: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
button:focus {
  color: white;
  background: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc((100% - 60px) / 3);
  transition-property: overlay;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio-photos li {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition-property: overlay;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfolio-photos li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-photos a:hover {
  color: inherit;
}
.portfolio-photos a:visited {
  color: inherit;
}
.portfolio-card-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 24px;
}

.portfolio-card-box {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  transition-property: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--primary-color 0.9);
  transform: translateY(100%);
}
.portfolio-overlay-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
  color: #ffffff;
  margin: 49px 45px 24px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfolio-card-box:hover .portfolio-overlay {
  transform: translate(0%, -100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--primary-color, 0.9);
  height: 100%;
}

.portfolio-photos li:hover .portfolio-overlay {
  transform: translate(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--primary-color, 0.9);
  height: 100%;
}
/* ========================================  END  STRONA PORTFOLIO ==================================================== */

.flex {
  display: flex;
  justify-content: space-between;
}

.icon-element {
  display: flex;
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  gap: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.social-media-box {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  fill: var(--clients-color);
  border-radius: 50%;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icon:hover {
  --color1: var(--white-color);
  background-color: var(--primary-color);
}
.our-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.42;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}
.our-clients-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.icon-clients {
  fill: var(--clients-color);
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.border-clients-icons {
  width: 170px;
  height: 90px;
  display: flex;
  border: 1px solid;
  color: var(--clients-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.border-clients-icons:hover .icon-clients {
  fill: var(--primary-color);
}

/* ========== BACKDROP MODAL =========== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  transition-property: opacity, visibility, transform;
  transition-duration: 0.5s;
}
.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  margin: auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-100%);
}

.close-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 490px;
  margin-top: 8px;
  position: relative;
}

.close-btn svg {
  position: absolute;
  top: 30%;
  left: 30%;
}

.close-btn:hover {
  background: none;
  border-radius: 50%;
  box-shadow: none;
}

.modal-form {
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  outline: 0;
  border: 0;
  display: block;
  position: relative;
}
.modal-title {
  margin-top: -10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 2.3;
  text-align: center;
  letter-spacing: 0.03;
  color: var(--secondary-color);
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01;
  color: var(--contacts-color);
  position: absolute;
  margin-top: -20px;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  width: 448px;
  border-radius: 4px;
  transition-property: border;
  padding-left: 40px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-input:focus {
  border-color: var(--primary-color);
  outline: 0;
}

.modal-icon {
  position: absolute;
  margin-top: 14px;
  margin-left: 15px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-input-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  width: 448px;
  border-radius: 4px;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  position: relative;
}
.textarea {
  padding: 12px, 24px;
  position: absolute;
  width: 416px;
  height: 96px;
  resize: none;
  border: 0;
  padding-top: 12px;
  padding-left: 16px;
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}

.modal-input-comment:focus {
  border-color: var(--primary-color);
  outline: 0;
}

.modal-form:has(input:focus) .modal-icon {
  fill: var(--primary-color);
}

.modal-checkbox-fieldset {
  outline: 0;
  border: 0;
  position: relative;
  margin-left: 54px;
  margin-top: -5px;
  font-size: 14px;
  line-height: 1.46;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
  letter-spacing: 0.03;
}

.modal-checkbox-fieldset a {
  color: var(--primary-color);
  text-decoration: underline;
}

.checkbox-icon-custom {
  width: 16px;
  height: 15px;
  border: 2px Solid #212121;
  position: absolute;
  margin-top: 3px;
  margin-left: -2px;
  border-radius: 2px;
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 2;
  margin-top: 4px;
}

.checkbox-icon {
  fill: white;
  width: 16px;
  height: 15px;
  position: absolute;
  margin-top: 3px;
  margin-left: -2px;
  padding: 2px;
}

.rodo-text {
  margin-left: 20px;
}

.modal-checkbox-fieldset input:checked ~ .checkbox-icon {
  fill: white;
  width: 16px;
  height: 15px;
  padding: 4px 3px;
  background-color: var(--primary-color);
  border-radius: 2px;
  position: absolute;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form-button {
  width: 200px;
  height: 50px;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 164px;
  border: 0;
  cursor: pointer;
}
.modal-form-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* ========== END BACKDROP MODAL =========== */
