@import "./components/header";
@import "./components/main-banner";
@import "./components/our-team-section";
@import "./components/our-clients-section";
@import "./components/portfolio-page";
@import "./components/footer";
@import "./components/form";
@import "./components/modal";
@import "./components/newsletter";
@import "./components/what-we-do-section";
@import "./components/our-team-social-media-box";
@import "./components/lorem-list";
@import "./components/button-list";

@import "./utils/variables";
@import "./utils/tags";
@import "./utils/backdrop";
