.footer {
  display: flex;
  align-items: flex-start;
  gap: 70px;
  margin-top: -30px;
}

&__background {
  left: 0px;
  background: #2f303a;
}

&__address {
  display: contents;
  color: white;
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0;
}

&__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.31;
  letter-spacing: 0.03em;
}

&__logo--position {
  padding-bottom: 20px;
}

&__address--color {
  color: #757575;
}

&__social-media-box {
  padding-bottom: 172px;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 206px;
  height: 80px;
  margin-top: -30px;
}
&__social-media-box--icon {
  background-color: #2f303a(--social-footer-color);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
&__social-media-box--icon:hover {
  background-color: #2196f3;
  border-radius: 50px;
}
