.footer {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 70px;

  @media screen and (min-width: 768px) {
    row-gap: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  &__background {
    left: 0px;
    background: #2f303a;
  }

  &__address {
    color: white;
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 0;
    font-size: 14px;
    margin-bottom: -20px;

    @media screen and (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      color: white;
      flex-direction: column;
      gap: 9px;
      text-align: left;
      align-items: flex-start;
    }
  }

  &__logo {
    font-family: "Raleway";
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 0.28;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 0.31;
    }
  }

  &__logo--position {
    padding-bottom: 20px;
    padding-top: 30px;
    @media screen and (min-width: 1200px) {
      padding-bottom: 20px;
      padding-top: 0;
    }
  }

  &__address--color {
    color: #757575;
  }
  // &__social-title {
  //   @media screen and (min-width: 768px) {
  //     margin-left: 35px;
  //   }
  //   @media screen and (min-width: 1200px) {
  //     margin-left: 0px;
  //   }
  // }
  &__social-media-box {
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin: top -20px;
    @media screen and (min-width: 768px) {
      display: inline-block;
      justify-content: space-around;
      width: 206px;
      max-width: 100%;
    }

    @media screen and (min-width: 1200px) {
      width: 206px;
      height: 80px;
      display: inline-block;
      margin-top: -30px;
    }
  }
  &__social-media-box--icon {
    background-color: #2f303a(--social-footer-color);
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  &__social-media-box--icon:hover {
    background-color: #2196f3;
    border-radius: 50px;
  }

  &__newsletter {
    margin-top: -30px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 570px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--input {
      padding: 15px;
      background-color: inherit;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      width: 300px;
      max-width: 100%;
      color: rgba(255, 255, 255, 0.6);
      margin-left: auto;
      margin-right: auto;
      @media screen and (min-width: 480px) {
        width: 450px;
      }
      @media screen and (min-width: 768px) {
        width: 450px;
      }

      @media screen and (min-width: 1200px) {
        width: 358px;
        padding: 15px;
      }
    }
    &--button {
      color: var(--white-color);
      background-color: var(--primary-color);
      margin: 0;
      display: inline-flex;
      align-items: center;
      width: 200px;
      height: 50px;
      padding-left: 42px;
      padding-right: 28px;
      border-radius: 4px;
      margin-top: 20px;
      box-shadow: rgba(0, 0, 0, 0.15);
      border: 0;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      @media screen and (min-width: 1200px) {
        margin-left: 12px;
      }
    }
    &--input::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03;
      height: 50px;
      color: rgba(255, 255, 255, 0.6);
    }
    &--icon {
      fill: white;
      margin-left: 24px;
    }
  }
}
