.form {
  &__fieldset {
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    outline: 0;
    border: 0;
    display: block;
    position: relative;
  }
  &__title {
    margin-top: -10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.3;
    text-align: center;
    letter-spacing: 0.03;
    color: var(--secondary-color);
  }
  &__fieldset--label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.01;
    color: var(--contacts-color);
    position: absolute;
    margin-top: -20px;
  }

  &__fieldset--input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    width: 448px;
    border-radius: 4px;
    transition-property: border;
    padding-left: 40px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  &__fieldset--input:focus {
    border-color: var(--primary-color);
    outline: 0;
  }

  &__fieldset--icon {
    position: absolute;
    margin-top: 12px;
    margin-left: 15px;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  &__fieldset--comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 120px;
    width: 448px;
    border-radius: 4px;
  }

  &__fieldset--comment:focus {
    border-color: var(--primary-color);
    outline: 0;
  }
  &__fieldset--comment:has(textarea:focus) {
    border: 1px var(--primary-color) solid;
  }

  &__fieldset--textarea {
    margin-top: 2px;
    position: absolute;
    width: 416px;
    height: 96px;
    resize: none;
    border: 0;
    padding-top: 12px;
    padding-left: 16px;
  }
  &__fieldset--textarea:focus {
    outline: 0;
    border: 0;
  }
  &__fieldset--textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1%;
    color: rgba(117, 117, 117, 0.5);
    margin-bottom: 20px;
  }

  &__fieldset:has(input:focus) &__fieldset--icon {
    fill: var(--primary-color);
  }

  &__fieldset--checkbox {
    outline: 0;
    border: 0;
    position: relative;
    margin-left: 54px;
    margin-top: -5px;
    font-size: 14px;
    line-height: 1.46;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.03;
  }

  &__fieldset--checkbox a {
    color: var(--primary-color);
    text-decoration: underline;
  }

  &__fieldset--checkbox-icon-custom {
    width: 16px;
    height: 15px;
    border: 2px Solid #212121;
    position: absolute;
    margin-top: 3px;
    margin-left: -2px;
    border-radius: 2px;
  }

  &__fieldset--checkbox-input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin-top: 4px;
  }

  &__fieldset--checkbox-icon {
    fill: white;
    width: 16px;
    height: 15px;
    position: absolute;
    margin-top: 3px;
    margin-left: -2px;
    padding: 2px;
  }

  &__fieldset--checkbox-text {
    margin-left: 20px;
  }

  &__fieldset--checkbox input:checked ~ &__fieldset--checkbox-icon {
    fill: white;
    width: 16px;
    height: 15px;
    padding: 4px 3px;
    background-color: var(--primary-color);
    border-radius: 2px;
    position: absolute;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  &__fieldset--button {
    width: 200px;
    height: 50px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 164px;
    border: 0;
    cursor: pointer;
  }
  &__fieldset--button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
