.header {
  height: 60px;
  width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  position: fixed;
  background: white;
  @media screen and (min-width: 768px) {
    position: relative;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    display: flex;
    justify-content: center;
    height: 80px;
    max-width: 100%;
    padding-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1600px;
    padding-bottom: 10px;
  }

  &__logo {
    width: 134px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 0.28;
    letter-spacing: 0.03em;
    left: 10px;
    bottom: 20px;
    position: absolute;
    @media screen and (min-width: 768px) {
      &__logo {
        width: 145px;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 0.31;
        letter-spacing: 0.03em;
        padding-top: 46px;
        padding-bottom: 25px;
        position: absolute;
      }
    }
    @media screen and (min-width: 1200px) {
      width: 145px;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 26px;
      line-height: 0.31;
      letter-spacing: 0.03em;
      padding-top: 45px;
      padding-bottom: 5px;
      margin-left: 20px;
    }
  }
}

.header {
  &.container {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-right: 70px;
    margin-top: 35px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    gap: 46px;
    margin-left: 220px;
    margin-top: 32px;
    max-width: 254px;
  }
  &__underline {
    position: relative;

    &::after {
      @media screen and (min-width: 768px) {
        position: absolute;
        content: "";
        width: 53px;
        height: 4px;
        background-color: var(--primary-color);
        margin-top: 39px;
        left: 0;
        width: 100%;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-top: 37px;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 0.16;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
}

.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 530px;
    margin-top: -50px;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 740px;
    margin-top: -35px;
    gap: 30px;
  }

  &__e-mail {
    @media screen and (min-width: 768px) {
      width: 135px;
      font-weight: 500;
      font-size: 12px;
      line-height: 0.16;
      letter-spacing: 0.02em;
      color: #757575;
      transition-property: fill;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
    &:hover &__icon {
      fill: var(--primary-color);
      cursor: pointer;
    }
  }
  &__ph-number {
    @media screen and (min-width: 768px) {
      width: 110px;
      color: #757575;
      font-weight: 500;
      font-size: 12px;
      line-height: 0.16;
      letter-spacing: 0.02em;
      transition-property: fill;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      margin-left: -3px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
    &:hover &__icon {
      fill: var(--primary-color);
      cursor: pointer;
    }
  }

  &__icon {
    @media screen and (min-width: 768px) {
      fill: var(--contacts-color);
      transition-property: fill;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
      width: 10px;
      height: 14px;
      margin-left: 20px;

      @media screen and (min-width: 1200px) {
        width: 20px;
        height: 16px;
      }
    }

    &:hover {
      --contacts-color: var(--primary-color);
      cursor: pointer;
    }
  }
  &__icon--envelope {
    width: 20px;
    height: 16px;
    margin-top: 2px;
  }
}
.contacts {
  li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
a:hover .contacts__icon {
  fill: var(--primary-color);
  cursor: pointer;
}
