.our-team__social-media-box {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &--icon {
    fill: var(--clients-color);
    border-radius: 50%;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:hover {
      --color1: var(--white-color);
      background-color: var(--primary-color);
    }
  }
}
