.portfolio {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc((100% - 60px) / 3);
    transition-property: overlay;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  & li {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transition-property: overlay;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  & a {
    &:hover {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }

  &__card {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
    &--text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 20px 24px;
    }

    &__card:hover &__overlay {
      transform: translate(0%, -100%);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background: var(--primary-color, 0.9);
      height: 100%;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--primary-color 0.9);
    transform: translateY(100%);

    &--text {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.56;
      text-align: left;
      vertical-align: top;
      letter-spacing: 3%;
      color: #ffffff;
      margin: 49px 45px 24px;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;
    }
  }

  & li:hover &_overlay {
    transform: translate(0%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--primary-color, 0.9);
    height: 100%;
  }
}
