body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  
}
.basic-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 16 15 0;

  @media screen and (min-width: 768px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
    padding: 0 15;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

h4 {
  color: var(--secondary-color);
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
a:visited {
  color: none;
}

a:hover {
  color: var(--primary-color);
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
